<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofency.ssm.mapper.CandidateMapper" >
  <resultMap id="BaseResultMap" type="com.sofency.ssm.pojo.Candidate" >
    <id column="candidate_id" property="candidateId" jdbcType="INTEGER" />
    <result column="instid" property="instid" jdbcType="INTEGER" />
    <result column="majorId" property="majorid" jdbcType="INTEGER" />
    <result column="candidate_name" property="candidateName" jdbcType="VARCHAR" />
    <result column="candidate_sex" property="candidateSex" jdbcType="CHAR" />
    <result column="candidate_tel" property="candidateTel" jdbcType="VARCHAR" />
    <result column="candidate_email" property="candidateEmail" jdbcType="VARCHAR" />
    <result column="candidate_introduce" property="candidateIntroduce" jdbcType="VARCHAR" />
    <result column="candidate_fame" property="candidateFame" jdbcType="VARCHAR" />
    <result column="candidateStatus" property="candidatestatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    candidate_id, instid, majorId, candidate_name, candidate_sex, candidate_tel, candidate_email, 
    candidate_introduce, candidate_fame, candidateStatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sofency.ssm.pojo.CandidateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from candidate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from candidate
    where candidate_id = #{candidateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from candidate
    where candidate_id = #{candidateId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sofency.ssm.pojo.CandidateExample" >
    delete from candidate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sofency.ssm.pojo.Candidate" >
    insert into candidate (candidate_id, instid, majorId, 
      candidate_name, candidate_sex, candidate_tel, 
      candidate_email, candidate_introduce, candidate_fame, 
      candidateStatus)
    values (#{candidateId,jdbcType=INTEGER}, #{instid,jdbcType=INTEGER}, #{majorid,jdbcType=INTEGER}, 
      #{candidateName,jdbcType=VARCHAR}, #{candidateSex,jdbcType=CHAR}, #{candidateTel,jdbcType=VARCHAR}, 
      #{candidateEmail,jdbcType=VARCHAR}, #{candidateIntroduce,jdbcType=VARCHAR}, #{candidateFame,jdbcType=VARCHAR}, 
      #{candidatestatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sofency.ssm.pojo.Candidate" >
    insert into candidate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="candidateId != null" >
        candidate_id,
      </if>
      <if test="instid != null" >
        instid,
      </if>
      <if test="majorid != null" >
        majorId,
      </if>
      <if test="candidateName != null" >
        candidate_name,
      </if>
      <if test="candidateSex != null" >
        candidate_sex,
      </if>
      <if test="candidateTel != null" >
        candidate_tel,
      </if>
      <if test="candidateEmail != null" >
        candidate_email,
      </if>
      <if test="candidateIntroduce != null" >
        candidate_introduce,
      </if>
      <if test="candidateFame != null" >
        candidate_fame,
      </if>
      <if test="candidatestatus != null" >
        candidateStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="candidateId != null" >
        #{candidateId,jdbcType=INTEGER},
      </if>
      <if test="instid != null" >
        #{instid,jdbcType=INTEGER},
      </if>
      <if test="majorid != null" >
        #{majorid,jdbcType=INTEGER},
      </if>
      <if test="candidateName != null" >
        #{candidateName,jdbcType=VARCHAR},
      </if>
      <if test="candidateSex != null" >
        #{candidateSex,jdbcType=CHAR},
      </if>
      <if test="candidateTel != null" >
        #{candidateTel,jdbcType=VARCHAR},
      </if>
      <if test="candidateEmail != null" >
        #{candidateEmail,jdbcType=VARCHAR},
      </if>
      <if test="candidateIntroduce != null" >
        #{candidateIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="candidateFame != null" >
        #{candidateFame,jdbcType=VARCHAR},
      </if>
      <if test="candidatestatus != null" >
        #{candidatestatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sofency.ssm.pojo.CandidateExample" resultType="java.lang.Integer" >
    select count(*) from candidate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update candidate
    <set >
      <if test="record.candidateId != null" >
        candidate_id = #{record.candidateId,jdbcType=INTEGER},
      </if>
      <if test="record.instid != null" >
        instid = #{record.instid,jdbcType=INTEGER},
      </if>
      <if test="record.majorid != null" >
        majorId = #{record.majorid,jdbcType=INTEGER},
      </if>
      <if test="record.candidateName != null" >
        candidate_name = #{record.candidateName,jdbcType=VARCHAR},
      </if>
      <if test="record.candidateSex != null" >
        candidate_sex = #{record.candidateSex,jdbcType=CHAR},
      </if>
      <if test="record.candidateTel != null" >
        candidate_tel = #{record.candidateTel,jdbcType=VARCHAR},
      </if>
      <if test="record.candidateEmail != null" >
        candidate_email = #{record.candidateEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.candidateIntroduce != null" >
        candidate_introduce = #{record.candidateIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.candidateFame != null" >
        candidate_fame = #{record.candidateFame,jdbcType=VARCHAR},
      </if>
      <if test="record.candidatestatus != null" >
        candidateStatus = #{record.candidatestatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update candidate
    set candidate_id = #{record.candidateId,jdbcType=INTEGER},
      instid = #{record.instid,jdbcType=INTEGER},
      majorId = #{record.majorid,jdbcType=INTEGER},
      candidate_name = #{record.candidateName,jdbcType=VARCHAR},
      candidate_sex = #{record.candidateSex,jdbcType=CHAR},
      candidate_tel = #{record.candidateTel,jdbcType=VARCHAR},
      candidate_email = #{record.candidateEmail,jdbcType=VARCHAR},
      candidate_introduce = #{record.candidateIntroduce,jdbcType=VARCHAR},
      candidate_fame = #{record.candidateFame,jdbcType=VARCHAR},
      candidateStatus = #{record.candidatestatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sofency.ssm.pojo.Candidate" >
    update candidate
    <set >
      <if test="instid != null" >
        instid = #{instid,jdbcType=INTEGER},
      </if>
      <if test="majorid != null" >
        majorId = #{majorid,jdbcType=INTEGER},
      </if>
      <if test="candidateName != null" >
        candidate_name = #{candidateName,jdbcType=VARCHAR},
      </if>
      <if test="candidateSex != null" >
        candidate_sex = #{candidateSex,jdbcType=CHAR},
      </if>
      <if test="candidateTel != null" >
        candidate_tel = #{candidateTel,jdbcType=VARCHAR},
      </if>
      <if test="candidateEmail != null" >
        candidate_email = #{candidateEmail,jdbcType=VARCHAR},
      </if>
      <if test="candidateIntroduce != null" >
        candidate_introduce = #{candidateIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="candidateFame != null" >
        candidate_fame = #{candidateFame,jdbcType=VARCHAR},
      </if>
      <if test="candidatestatus != null" >
        candidateStatus = #{candidatestatus,jdbcType=TINYINT},
      </if>
    </set>
    where candidate_id = #{candidateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sofency.ssm.pojo.Candidate" >
    update candidate
    set instid = #{instid,jdbcType=INTEGER},
      majorId = #{majorid,jdbcType=INTEGER},
      candidate_name = #{candidateName,jdbcType=VARCHAR},
      candidate_sex = #{candidateSex,jdbcType=CHAR},
      candidate_tel = #{candidateTel,jdbcType=VARCHAR},
      candidate_email = #{candidateEmail,jdbcType=VARCHAR},
      candidate_introduce = #{candidateIntroduce,jdbcType=VARCHAR},
      candidate_fame = #{candidateFame,jdbcType=VARCHAR},
      candidateStatus = #{candidatestatus,jdbcType=TINYINT}
    where candidate_id = #{candidateId,jdbcType=INTEGER}
  </update>
</mapper>