<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofency.ssm.mapper.EngineerCustomMapper">
	<resultMap id="BaseResultMap" type="com.sofency.ssm.pojo.Engineer" >
	    <id column="engineer_id" property="engineerId" jdbcType="INTEGER" />
	    <result column="engineer_name" property="engineerName" jdbcType="VARCHAR" />
	    <result column="engineer_imgPath" property="engineerImgpath" jdbcType="VARCHAR" />
	    <result column="engineer_sex" property="engineerSex" jdbcType="CHAR" />
	    <result column="engineer_tel" property="engineerTel" jdbcType="CHAR" />
	    <result column="engineer_email" property="engineerEmail" jdbcType="VARCHAR" />
	    <result column="instid" property="instid" jdbcType="INTEGER" />
	    <result column="majorid" property="majorid" jdbcType="INTEGER" />
	    <result column="engineer_motto" property="engineerMotto" jdbcType="VARCHAR" />
	    <result column="engineer_git" property="engineerGit" jdbcType="VARCHAR" />
	  </resultMap>

	<resultMap id="EngineerCustom" type="com.sofency.ssm.pojo.EngineerCustom" extends="BaseResultMap">
		<result property="fameName" column="fame_name"></result>
		<result property="fameLevel" column="fame_level"></result>
		<result property="getTime" column="getTime" javaType="java.util.Date"></result>
	</resultMap>
	
	<resultMap id="engineersSomeInfo" type="com.sofency.ssm.pojo.EngineersSomeInfo">
		<result column="engineer_name" property="engineerName" jdbcType="VARCHAR" />
	    <result column="engineer_imgPath" property="engineerImgpath" jdbcType="VARCHAR" />
	    <result column="majorname" property="majorname" jdbcType="VARCHAR" />
	    <result column="engineer_email" property="engineerEmail" jdbcType="VARCHAR" />
	    <result column="engineer_motto" property="engineerMotto" jdbcType="VARCHAR" />
	    <result column="engineer_git" property="engineerGit" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="getAllEngineerInfo" resultMap="BaseResultMap">
		select * from engineer
	</select>
	
	<!-- 根据id获取该人员的详细信息 -->
	<select id="getAllEngineerInfoAndFames" parameterType="Integer" resultMap="EngineerCustom">
		select engineer_id,engineer_sex,engineer_name,engineer_imgpath,engineer_tel,
		engineer_email,instname,majorname,engineer_motto,
		fame_name,fame_level,getFame.getTime
		from engineer,getFame,fame,institude,major 
		where engineer.engineer_id=getFame.engineer_id 
		and getFame.fame_id=fame.fame_id
		and engineer.engineer_id=#{engineerId}
		and engineer.instid =institude.instid
		and engineer.majorid = major.majorid
	</select>
	
	
	<!-- 分页查询 -->
	<select id="findEngineerInfoByPage" parameterType="Integer" resultMap="BaseResultMap">
        select * from engineer limit #{page},4
  	</select>
  	
  	<!-- 根据名字进行模糊查询 -->
  	<select id="findEngineerByName" parameterType="String" resultMap="BaseResultMap">
  		select * from engineer where engineer_name like concat('%',#{username},'%')
  	</select>
  	
  	<!-- 查询工作室人员的简短信息到前端 -->
  	<select id="getEngineersSomeInfo"  resultMap="engineersSomeInfo">
  		select engineer_name,engineer_imgpath,engineer_motto,engineer_email,engineer_git,majorname from engineer 
  		LEFT JOIN institude on engineer.instid = institude.instid
		LEFT JOIN major on institude.instid = major.instid and engineer.majorid = major.majorid
  	</select>
</mapper>
