<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofency.ssm.mapper.FameMapper" >
  <resultMap id="BaseResultMap" type="com.sofency.ssm.pojo.Fame" >
    <id column="fame_id" property="fameId" jdbcType="INTEGER" />
    <result column="fame_name" property="fameName" jdbcType="VARCHAR" />
    <result column="fame_level" property="fameLevel" jdbcType="INTEGER" />
    <result column="famedescription" property="famedescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fame_id, fame_name, fame_level, famedescription
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sofency.ssm.pojo.FameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fame
    where fame_id = #{fameId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fame
    where fame_id = #{fameId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sofency.ssm.pojo.FameExample" >
    delete from fame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sofency.ssm.pojo.Fame" >
    insert into fame (fame_id, fame_name, fame_level, 
      famedescription)
    values (#{fameId,jdbcType=INTEGER}, #{fameName,jdbcType=VARCHAR}, #{fameLevel,jdbcType=INTEGER}, 
      #{famedescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sofency.ssm.pojo.Fame" >
    insert into fame
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fameId != null" >
        fame_id,
      </if>
      <if test="fameName != null" >
        fame_name,
      </if>
      <if test="fameLevel != null" >
        fame_level,
      </if>
      <if test="famedescription != null" >
        famedescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fameId != null" >
        #{fameId,jdbcType=INTEGER},
      </if>
      <if test="fameName != null" >
        #{fameName,jdbcType=VARCHAR},
      </if>
      <if test="fameLevel != null" >
        #{fameLevel,jdbcType=INTEGER},
      </if>
      <if test="famedescription != null" >
        #{famedescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sofency.ssm.pojo.FameExample" resultType="java.lang.Integer" >
    select count(*) from fame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fame
    <set >
      <if test="record.fameId != null" >
        fame_id = #{record.fameId,jdbcType=INTEGER},
      </if>
      <if test="record.fameName != null" >
        fame_name = #{record.fameName,jdbcType=VARCHAR},
      </if>
      <if test="record.fameLevel != null" >
        fame_level = #{record.fameLevel,jdbcType=INTEGER},
      </if>
      <if test="record.famedescription != null" >
        famedescription = #{record.famedescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fame
    set fame_id = #{record.fameId,jdbcType=INTEGER},
      fame_name = #{record.fameName,jdbcType=VARCHAR},
      fame_level = #{record.fameLevel,jdbcType=INTEGER},
      famedescription = #{record.famedescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sofency.ssm.pojo.Fame" >
    update fame
    <set >
      <if test="fameName != null" >
        fame_name = #{fameName,jdbcType=VARCHAR},
      </if>
      <if test="fameLevel != null" >
        fame_level = #{fameLevel,jdbcType=INTEGER},
      </if>
      <if test="famedescription != null" >
        famedescription = #{famedescription,jdbcType=VARCHAR},
      </if>
    </set>
    where fame_id = #{fameId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sofency.ssm.pojo.Fame" >
    update fame
    set fame_name = #{fameName,jdbcType=VARCHAR},
      fame_level = #{fameLevel,jdbcType=INTEGER},
      famedescription = #{famedescription,jdbcType=VARCHAR}
    where fame_id = #{fameId,jdbcType=INTEGER}
  </update>
</mapper>