<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofency.ssm.mapper.GetfameMapper" >
  <resultMap id="BaseResultMap" type="com.sofency.ssm.pojo.Getfame" >
    <id column="fame_id" property="fameId" jdbcType="INTEGER" />
    <id column="engineer_id" property="engineerId" jdbcType="INTEGER" />
    <result column="getTime" property="gettime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fame_id, engineer_id, getTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sofency.ssm.pojo.GetfameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from getfame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sofency.ssm.pojo.GetfameKey" >
    select 
    <include refid="Base_Column_List" />
    from getfame
    where fame_id = #{fameId,jdbcType=INTEGER}
      and engineer_id = #{engineerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sofency.ssm.pojo.GetfameKey" >
    delete from getfame
    where fame_id = #{fameId,jdbcType=INTEGER}
      and engineer_id = #{engineerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sofency.ssm.pojo.GetfameExample" >
    delete from getfame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sofency.ssm.pojo.Getfame" >
    insert into getfame (fame_id, engineer_id, getTime
      )
    values (#{fameId,jdbcType=INTEGER}, #{engineerId,jdbcType=INTEGER}, #{gettime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sofency.ssm.pojo.Getfame" >
    insert into getfame
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fameId != null" >
        fame_id,
      </if>
      <if test="engineerId != null" >
        engineer_id,
      </if>
      <if test="gettime != null" >
        getTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fameId != null" >
        #{fameId,jdbcType=INTEGER},
      </if>
      <if test="engineerId != null" >
        #{engineerId,jdbcType=INTEGER},
      </if>
      <if test="gettime != null" >
        #{gettime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sofency.ssm.pojo.GetfameExample" resultType="java.lang.Integer" >
    select count(*) from getfame
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update getfame
    <set >
      <if test="record.fameId != null" >
        fame_id = #{record.fameId,jdbcType=INTEGER},
      </if>
      <if test="record.engineerId != null" >
        engineer_id = #{record.engineerId,jdbcType=INTEGER},
      </if>
      <if test="record.gettime != null" >
        getTime = #{record.gettime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update getfame
    set fame_id = #{record.fameId,jdbcType=INTEGER},
      engineer_id = #{record.engineerId,jdbcType=INTEGER},
      getTime = #{record.gettime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sofency.ssm.pojo.Getfame" >
    update getfame
    <set >
      <if test="gettime != null" >
        getTime = #{gettime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fame_id = #{fameId,jdbcType=INTEGER}
      and engineer_id = #{engineerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sofency.ssm.pojo.Getfame" >
    update getfame
    set getTime = #{gettime,jdbcType=TIMESTAMP}
    where fame_id = #{fameId,jdbcType=INTEGER}
      and engineer_id = #{engineerId,jdbcType=INTEGER}
  </update>
</mapper>