<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofency.ssm.mapper.ManagerCustomMapper">
  <cache  type="org.mybatis.caches.ehcache.EhcacheCache"/> 
  <select id="getPassword" parameterType="String" resultType="String">
  		select userpwd from manager where username = #{username}
  </select>
</mapper>
